@page {
  size: 11in 8.5in;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 8pt;
  line-height: 12pt;
}
p, li {
  margin: 0 0 0.75em 0;
  padding: 0;
  text-align: justify;
  font-weight: 100;
}
li {
  list-style: none;
  margin: 0 0 0.5em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rockwell',serif;
  margin: 0.5em 0 1em 0;
  padding: 0;
}

div.sheet {
  height: 8.5in;
  width: 11in;
  position: relative;
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
}
div.page:before {
  content: attr(data-num);
  height: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}
div.page {
  height: 8.5in;
  width: 5.5in;
  margin: 0;
  padding: 1in;
  outline: 1px solid black;
}
div.page:nth-child(odd) {
  position: absolute;
  left: 0in;
  top: 0in;
  padding-right: 1in;
}
div.page:nth-child(even) {
  position: absolute;
  left: 5.5in;
  top: 0in;
  padding-left: 1in;
}
div.inner {
  outline: 1px dotted red;
  height: 6.5in;
  width: 3.5in;
  position: relative;
  /*top: 0.5in;*/
  /*left: 0in;*/
  overflow: hidden
}
/*div.wrap {
  max-height: 7.5in;
}*/

div.page[data-num='8'] .inner {
  /*-webkit-print-color-adjust:exact;
  background: url('rockwell-comma.svg') repeat;
  background-size: 0.15in auto;
  background-position: 0.03in 0.02in;*/
}


@media print {
  * {-webkit-print-color-adjust:exact;}
  div.inner,
  div.page {
    outline: none;
  }
  div.page:before {
    content: "";
  }
  div.inner {
    overflow: visible;
  }
}