@page {
  size: 11in 8.5in;
  /*margin: 0;*/
  margin-top: 0.65in;
  margin-bottom: 0.65in;
  padding: 0;
  /*margin: 2cm;*/
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 11in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Rockwell',serif;
  /*font-family: 'Rockwell Std','Rockwell',serif;*/ /* this is the light version of Rockwell */
}

div {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*width: 3in;*/
  /*height: 5in;*/
  /*margin-top: 0.65in;*/
  margin-bottom: 0.65in;
  text-align: center;
}
/*div:nth-child(odd) {
  margin-left: 1.23in;
  margin-right: 0.02in;
}
div:nth-child(even) {
  margin-left: 0.02in;
  margin-right: 1.23in;
}
div:nth-child(4n+1),
div:nth-child(4n+2) {
  margin-top: 0.48in;
  margin-bottom: 0.02in;
}
div:nth-child(4n+3),
div:nth-child(4n+0) {
  margin-top: 0.02in;
  margin-bottom: 0.48in;
}*/

div:nth-child(4n+1) {
  margin-left: 0.44in;
  margin-right: 0.02in;
}
div:nth-child(4n+2),
div:nth-child(4n+3) {
  margin-left: 0.02in;
  margin-right: 0.02in; 
}
div:nth-child(4n+0) {
  margin-left: 0.02in;
  margin-right: 0.44in;
  page-break-after: always;
}
div:nth-child(4n+1) {
  clear: both;
  /*page-break-before: always;*/
}
/*div:nth-child(4n+0) {
  page-break-after: always;
}*/
table {
  word-wrap: break-word;
  page-break-inside: avoid;
}
table, tr, td {
  margin: 0;
  text-align: center;
  padding: 0;
  border-collapse: collapse;
}
table span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 2.5in;
  height: 3.5in;
  overflow: hidden;
  border: 0.05in solid black;
  border-radius: 0.05in;
  padding: 0.2in;
}
table.back span {
  /*background-color: #EFEFEF;*/
  background: url('rockwell-comma.svg') repeat;
  background-size: 0.15in auto;
  background-position: 0.03in 0.02in;
  position: relative;
}
table.back p {
  background-color: #FFFFFF;
  position: absolute;
  padding: 0.1in 0;
  font-size: 0.15in;
}
table.back label {
  text-transform: uppercase;
  font-size: .3in;
  display: block;
}
.pii-card table.back p {
  width: 1in;
  left: 0.70in;
  top: 1.25in;
}
.dataset-card table.back p {
  width: 1.6in;
  left: 0.40in;
  top: 1.20in;
}
.stories-card table.back p {
  width: 1.6in;
  left: 0.40in;
  top: 1.20in;
}

table.front {
  margin-bottom: 0.05in;
}
table.back {
  margin-top: 0.05in;
  content: ",";
}
td {
  vertical-align: middle;
}
table p,
table h1 {
  max-width: 2in;
}
.pii-card table.inner {
  height: 2.68in;
  width: 2in;
}
.dataset-card table.inner {
  height: 2.85in;
  width: 2in;
}
.stories-card table.inner {
  height: 3in;
  width: 2in;
}

.dataset-card .category,
.pii-card .category {
  font-style: italic;
  font-size: 0.15in;
  height: 0.15in;
  text-align: left;
  margin: 0;
}
.pii-card .dataset {
  font-size: .12in;
  height: .15in;
  text-align: left;
  margin: .02in 0 0 0;
}
.pii-card .pii {
  font-size: 1.25em;
}
.pii-card .description {

}
